
* {
  margin: 0;
  padding: 0;
  /* background-color: #F8C8DC; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.icons:hover {
  font-size: 32px;
  cursor: pointer;
  transition: font-size 0.5s;
}